# Exclude test files
src/__tests__/
src/**/*.spec.ts
src/**/*.test.ts

# Exclude build scripts and configuration files
scripts/
tsconfig.json
tsconfig.test.json
tsconfig.eslint.json
.prettierrc
jest.config.js
jest.config.js
eslint.config.mjs


# Exclude local environment files
.env
.env.local
.env.test

# Exclude documentation files
docs/
*.md

# Exclude other unnecessary files
node_modules/
dist/
coverage/

.vscode/
.husky/
.github/
.editorconfig
